<html>
  <head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/style.css">
    <style class="factory">
    body{
    background-image: url(/static/factory-bg.jpg); background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    </style>
  </head>
  <body>
      <div id="password-form">
        <h2 class="header">Forgotten Password</h2>
        <div>
          <form method="post" action="/users">
            <h4 class="current">Current time is {{ time }}</h4>
            <input type="text" name="username" placeholder="Username"></input>
            <label for="feedback-notify">Please enter your username to show your password.</label>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
  </body>
</html>
