<html>
    <head>
        <title>Forgot Password</title>
        <link rel="stylesheet" href="/static/style.css">
        <style class="factory">
        body{
        background-image: url(/static/factory-bg.jpg); background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
        </style>
    </head>
    <body>
        <div id="password-form">
            <h2 class="header">Forgotten Password</h2>
            <div>
                    <h4>Executed statement: {{ statement }}</h4>
                    <h4>Your user is:</h4>
                    <h4>{{ active }}</h4>
            </div>
        </div>
    </body>
</html>